#customize-controls .control-section-gute .accordion-section-title:hover,
#customize-controls .control-section-gute .accordion-section-title:focus {
	background-color: #fff;
}
li#accordion-section-gute h3 {
    background: #14ab22 !important;
    color: #fff !important;
}
.control-section-gute .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 400;
    margin-left: 0px;
    background: red;
    color: #fff;
}

	.rtl .control-section-gute .accordion-section-title .button {
		margin-left:  0;
		margin-right: 8px;
	}
input#_customize-input-footer_copyright_text_control {
    display: none;
}